[submodule "LWC_1"]
	path = LWC_1
	url = https://github.com/skwarpdrive/LWC_1.git
[submodule "Kapiva"]
	path = Kapiva
	url = https://github.com/skwarpdrive/Kapiva.git
[submodule "Simplilearn"]
	path = Simplilearn
	url = https://github.com/skwarpdrive/Simplilearn.git
